
@import url('theme.css');

/* Customize for SPLAT Interface Documentation*/


.inputcell {
 background:#FAA76C;
 font-size: 80%;
 border:1px solid #7fbbe3;
 font-weight:700;
 padding:2.4px 6px;
 margin:auto 2px
}

.interfacecell {
 background:#ECECEC;
 font-size: 80%;
 border:1px solid #7fbbe3;
 font-weight:700;
 padding:2.4px 6px;
 margin:auto 2px
}

.button {
 background:#BEBEBE;
 font-size: 80%;
 border:1px solid #7fbbe3;
 font-weight:700;
 border-radius:4px;
 padding:2.4px 6px;
 box-shadow: 2px 2px 2px gray;
 margin:auto 2px
}

@media screen and (min-width: 767px) {
    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding
          this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
        background: rgb(250, 250, 250) !important;
    }
    .wy-table-responsive {
        max-width: 100%;
        overflow: visible !important;
    }
    .wy-nav-content {
        max-width: 910px !important;
    }
}