
@import url('theme.css');

/* Customize for SPLAT Interface Documentation*/


.inputcell {
 background:#FAA76C;
 font-size: 80%;
 border:1px solid #7fbbe3;
 font-weight:700;
 padding:2.4px 6px;
 margin:auto 2px
}

.interfacecell {
 background:#ECECEC;
 font-size: 80%;
 border:1px solid #7fbbe3;
 font-weight:700;
 padding:2.4px 6px;
 margin:auto 2px
}

.button {
 background:#BEBEBE;
 font-size: 80%;
 border:1px solid #7fbbe3;
 font-weight:700;
 border-radius:4px;
 padding:2.4px 6px;
 box-shadow: 2px 2px 2px gray;
 margin:auto 2px
}


.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
}

body {
    font-family: "Noto Serif", serif;  /* wikitribune */
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#outer_box
{
width:760px;
margin-left: auto;
margin-right: auto;
}


#header {
    margin-top: 2em;
    font-size:120%;
}


#headshot
{
padding:3px;
float: right;
position: relative;
margin: 0 0 20px 40px;
}

h1
{
font-size:150%;
}

h2
{
font-size:120%;
}

h3
{
font-size:110%;
}

#submenu {
	padding: 0;
	margin: 0 0 0 0;
	height: 2em; /* Setting a height makes it act like a block */
	font-size:130%;
	}

#submenu li {
	display: inline;
	padding: 0 15px 0 0;
	margin: 0;
	}



#subsubmenu {
	padding: 0;
	margin: 0 0 0 0;
	height: 3.5em; /* Setting a height makes it act like a block */
	}

#subsubmenu li {
	display: inline;
	padding: 0 10px 0 0;
	margin: 0;
	}



.current {
    font-weight: bold;
}

.figure { padding: 1em; }

.figure p { text-align: center; }