
@import url('theme.css');

/* Customize for SPLAT Interface Documentation*/


.inputcell {
 background:#FAA76C;
 font-size: 80%;
 border:1px solid #7fbbe3;
 font-weight:700;
 border-radius:4px;
 padding:2.4px 6px;
 margin:auto 2px
}

.interfacecell {
 background:#808080;
 font-size: 80%;
 border:1px solid #7fbbe3;
 font-weight:700;
 border-radius:4px;
 padding:2.4px 6px;
 margin:auto 2px
}
